<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script defer src="../../services/admin/isAdmin.js"></script>
</head>

<body onload="onLoad()" class="hidden">
    <div class="relative min-h-screen md:flex">
        <!-- mobile menu bar -->
        <div class="bg-gray-800 text-gray-100 flex justify-between md:hidden">
            <!-- logo -->
            <a href="" class="block p-4 text-white font-bold">Marjane</a>
            <!-- mobile menu button -->
            <button class=" mobileMenuBtn p-4 focus:outline-none focus:bg-gray-700">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- sidebar -->
        <div
            class="sidebar bg-blue-800 text-blue-100 w-64 space-y-6 px-2 py-7 absolute md:relative inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition duration-200 ease-in-out ">

            <div>
                <a href="#" class="text-white flex items-end space-x-2 px-4">
                    <img src="/src/assets/img/logo3.png" class="h-10 w-10" alt="logo marjane">
                    <span class="font-extrabold text-2xl">Marjane</span>
                </a>
                <div class="pt-4 flex justify-center">
                    <button onclick="logout()" type="button"
                        class="text-white bg-blue-400 hover:bg-blue-600  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Logout</button>
                </div>
                <nav class="pt-8">
                    <a href="dashboard.html"
                        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-lg hover:text-white">
                        Dashboard
                    </a>
                    <a href="createSubAdmin.html"
                        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-lg hover:text-white">
                        Sub Admin
                    </a>
                    <a href="centers.html"
                        class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700 hover:text-lg hover:text-white">
                        Centers
                    </a>
                </nav>
            </div>
        </div>
        <!-- content -->
        <div class="flex-1 p-10 font-bold">

            <!-- table -->
            <div class="w-full mt-12">
                <p class="md:text-xl pb-3 flex items-center">
                    <i class="fas fa-list mr-3"></i> List
                </p>
                <div class="bg-white overflow-auto">
                    <table class="text-left w-full border-collapse">
                        <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                        <thead>
                            <tr>
                                <th
                                    class="py-4 sm:px-48 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                                    Name</th>

                                <th
                                    class="py-4 px-6  bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!--  -->
        </div>
        <!--  -->
    </div>

</body>
<!-- Style -->
<script src="/src/assets/js/style.js"></script>
<!-- process centers -->
<script type="module" src="/src/app/services/admin/processCenter.js"></script>
<!-- auth -->
<script type="module" src="/src/app/services/admin/auth.js"></script>


</html>