<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/assets/css/style.css">

</head>

<body>
    <div class="relative min-h-screen flex">
        <!-- sidebar -->
        <div class="bg-blue-800 text-blue-100 w-64">
            logo
            <nav>nav</nav>
        </div>
        <!-- content -->
        <div class="flex-1 p-10 text-2xl font-bold">
            content goes here
        </div>
    </div>
</body>

</html>